@{
    ViewData["Title"] = "Home Page";
}
<style>
    img {
      margin: 0;
      padding: 0;
      background-size:cover;     
      background-position: center; 
      background-repeat: no-repeat; 
      height: 50vh;             
    }
  </style>

@section asideNav {
   
    <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
        <ul class="navbar-nav">
            

        </ul>
    </div>
    @* <div class="sidenav-footer mx-3 ">
        <div class="card card-plain shadow-none" id="sidenavCard">
            <img class="w-50 mx-auto" src="../assets/img/illustrations/icon-documentation.svg" alt="sidebar_illustration">
            <div class="card-body text-center p-3 w-100 pt-0">
                <div class="docs-info">
                    <h6 class="mb-0">Need help?</h6>
                    <p class="text-xs font-weight-bold mb-0">Please check our docs</p>
                </div>
            </div>
        </div>
        <a href="https://www.creative-tim.com/learning-lab/bootstrap/license/argon-dashboard" target="_blank" class="btn btn-dark btn-sm w-100 mb-3">Documentation</a>
        <a class="btn btn-primary btn-sm mb-0 w-100" href="https://www.creative-tim.com/product/argon-dashboard-pro?ref=sidebarfree" type="button">Upgrade to pro</a>
    </div> *@
}

<div class="text-center">
    <h1 class="display-4">Welcome to ITI</h1>
    <div class="border-3 border-end rounded border-black">
        <img src="/images/iti.jpeg" />

    </div>
</div>
